<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theodosis Cruises</title>
</head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,400|Josefin+Sans&display=swap&subset=cyrillic,greek" rel="stylesheet">


<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />

<link rel="stylesheet" href="/css/main.css">

<body>

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/index">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-chevron-circle-down"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active px-2">
                        <a class="nav-link" href="/index"> <%= t('home') %>
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/cruises"><%= t('cruises') %></a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/photos"><%= t('photos') %></a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/index/#contact"><%= t('contact') %></a>
                    </li>
                    <li class="nav-item px-2 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="bookingDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%= t('booking') %>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="bookingDropdown">
                            <a class="dropdown-item" href="/booking/#bcaves"><%= t('bcaves') %></a>
                            <a class="dropdown-item" href="/booking/#shipwreck"><%= t('shipwreck') %></a>
                        </div>
                    </li>
                    <li class="nav-item px-2 dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-globe-europe"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a class="dropdown-item" href="?lng=en">EN</a>
                            <a class="dropdown-item" href="?lng=el">EL</a>
                            <a class="dropdown-item" href="?lng=ru">RU</a>
                            <a class="dropdown-item" href="?lng=ja">JA</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>