<%- include("partials/header.ejs") %>

<!-- Half image carousel-->
<div id="cruises-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item w-100 active" id="imageCruises01"></div>
        <div class="carousel-item w-100" id="imageCruises02"></div>
    </div>
</div>

<!-- Booking section-->
<div class="rounded bg-light" id="overlap-container-nomove">

    <div class="container centered mb-5">
        <iframe id="sagendaFrame" src="https://www.sagenda.net/Frontend/Calendar/5eecad2fd67ba57510f06cc6"
            scrolling="no" height="2050" style="width:100%" frameborder="0" allowtransparency="true"
            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-top-navigation allow-scripts allow-forms"></iframe>
        <script>
            window.addEventListener("message", receiveMessage, false);

            function receiveMessage(event) {
                if (event.data === "month") {
                    document.getElementById("sagendaFrame").height = "1100";
                } else {
                    document.getElementById("sagendaFrame").height = "2050";
                }
            }
        </script>
    </div>
</div>

<!-- Footer content -->
<footer class="container-fluid row mx-0" id="footer">
    <div class="container centered col-sm-4">
        <a class="centered" href="#" data-toggle="modal" data-target="#termsModal">
            <button class="btn my-2 my-sm-0 rounded-pill btn-purple">Terms and Conditions</button>
        </a>
    </div>
    <div class="container centered col-sm-4 text-muted">Theodosis Cruises</div>
    <div class="container centered col-sm-4">
        <!-- Footer Social Icons -->
        <a class="btn btn-social " href="https://www.facebook.com/theodosiscruises">
            <i class="fab fa-facebook text-secondary"></i>
        </a>
        <a class="btn btn-social " href="https://g.page/theodosiscruises?share">
            <i class="fab fa-google text-secondary"></i>
        </a>
        <a class="btn btn-social"
            href="https://www.tripadvisor.com/Attraction_Review-g189462-d4916155-Reviews-Theodosis_Cruises-Zakynthos_Ionian_Islands.html?m=19905">
            <i class="fab fa-tripadvisor text-secondary"></i>
        </a>
        <a class="btn btn-social " href="mailto: info@theodosiscruises.com">
            <i class="fab far fa-envelope text-secondary"></i>
        </a>
    </div>
</footer>

<!--    Terms and conditions modal  -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="centeredModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="centeredModal"><%= t('terms-header') %></h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <i class="fas fa-angle-right text-muted mt-3"></i> <%= t('terms-content01') %><br>
                <i class="fas fa-angle-right text-muted mt-3"></i> <%= t('terms-content02') %><br>
                <i class="fas fa-angle-right text-muted mt-3"></i> <%= t('terms-content03') %><br>
                <i class="fas fa-angle-right text-muted mt-3"></i> <%= t('terms-content04') %><br>
                <i class="fas fa-angle-right text-muted mt-3"></i> <%= t('terms-content05') %><br>
                <i class="fas fa-angle-right text-muted mt-3"></i> <%= t('terms-content06') %><br>
                <i class="fas fa-angle-right text-muted mt-3"></i> <%= t('terms-content07') %><br>
                <i class="fas fa-angle-right text-muted mt-3"></i> <%= t('terms-content08') %><br>
                <i class="fas fa-angle-right text-muted mt-3"></i> <%= t('terms-content09') %><br>
                <i class="fas fa-angle-right text-muted mt-3"></i> <%= t('terms-content10') %><br>
                <i class="fas fa-angle-right text-muted mt-3"></i> <%= t('terms-content11') %><br>
                <i class="fas fa-angle-right text-muted mt-3"></i>Icons by <a target="_blank"
                    href="https://icons8.com">Icons8</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- scroll to top button   -->
<div class="scroll-to-top position-fixed ">
    <a class="text-center rounded" href="#page-top">
        <span class="material-icons md-36">arrow_upward</span>
    </a>
</div>

</body>
<!--    JQuery CDN  -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

<!--    popper.js CDN   -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>

<!--    Bootstrap scripts CDN   -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

<!--    Local JS    -->
<script src="/js/main.js"></script>
<script src="/js/func.js"></script>

</html>