<%- include("partials/header.ejs") %>

<div
  id="cruises-carousel"
  class="carousel slide carousel-fade"
  data-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item w-100 active" id="imageCruises01"></div>
    <div class="carousel-item w-100" id="imageCruises02"></div>
  </div>
</div>

<div class="rounded bg-light" id="overlap-container">
  <div class="container-fluid mt-4 pt-4 pb-3" id="cruises">
    <h3 class="ml-4 col-sm-12 col-md-12 mb-5">Theodosis Cruises</h3>

    <div class="card mb-5 cruises-card">
      <div class="row no-gutters">
        <div class="col-md-4 centered">
          <img
            src="https://images.unsplash.com/photo-1534423429435-66968ca17695?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
            class="card-img cruises-image shadow-lg"
            alt="..."
          />
        </div>
        <div class="col-md-6 container centered text-center">
          <div class="card-body">
            <h3 class="card-title"><%= t('bcaves') %></h3>
            <p class="card-text">
              <small class="teal-darker"><%= t('bcaves-subheader') %></small>
            </p>
            <p class="card-text cruises-info"><%= t('bcaves-info') %></p>
            <div class="container centered">
              <a href="/bcaves"
                ><button type="submit" class="btn btn-purple rounded-pill mt-4">
                  Blue Caves
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="normal-hr" />

    <div class="card mb-3 cruises-card">
      <div class="row no-gutters">
        <div class="col-md-6 container centered text-center">
          <div class="card-body">
            <h3 class="card-title"><%= t('shipwreck') %></h3>
            <p class="card-text">
              <small class="teal-darker"><%= t('shipwreck-subheader') %></small>
            </p>
            <p class="card-text"><%= t('shipwreck-bcaves-info') %></p>
            <div class="container centered">
              <a href="/shipwreck"
                ><button type="submit" class="btn btn-purple rounded-pill mt-4">
                  Shipwreck
                </button></a
              >
            </div>
          </div>
        </div>
        <div class="col-md-4 centered">
          <img
            src="https://images.unsplash.com/photo-1568323800788-78f87a78e492?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
            class="card-img cruises-image shadow-lg"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
