<%- include("partials/header.ejs") %>

<div id="cruises-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item w-100 active" id="imageCruises01">
        </div>
        <div class="carousel-item w-100" id="imageCruises02"></div>
    </div>
</div>

<div class="rounded bg-light" id="overlap-container">
    <div class="container-fluid mt-4 pt-4" id="cruises">
        <h3 class="ml-4 col-sm-12 col-md-12 mb-5">Theodosis Cruises</h3>
        <div class="container-fluid centered mb-4">
            <div class="container-fluid centered row">
                <div class="container centered col-12 col-md-6 ml-md-0">
                    <img src="https://images.unsplash.com/photo-1534423429435-66968ca17695?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                        alt="" class="rounded-image cruises-images shadow">
                </div>
                <div class="container-fluid col-12 col-md-5">
                    <h4 class="centered col-sm-12  pb-2"><%= t('bcaves') %></h4>
                    <h6 class="text-center col-sm-12 pb-2 josefin"><%= t('bcaves-subheader') %></h6>
                    <small class="container-fluid centered col-sm mx-0"><%= t('bcaves-info') %></small>
                </div>
            </div>
        </div>
        <div class="container-fluid centered mb-4">
            <div class="container-fluid centered row">
                <div class="container-fluid col-12 col-md-5">
                    <h4 class="centered col-sm-12 pb-2"><%= t('shipwreck') %></h4>
                    <h6 class="text-center col-sm-12 pb-2 josefin"><%= t('shipwreck-subheader') %></h6>
                    <small class="container-fluid centered col-sm"><%= t('shipwreck-bcaves-info') %></small>
                </div>
                <div class="container centered col-12 col-md-6 mr-md-0">
                    <img src="https://images.unsplash.com/photo-1581169837554-864d373c99bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                        alt="" class="rounded-image cruises-images shadow mt-4 mt-md-5">
                </div>
            </div>
        </div>
    </div>
    <div class="container centered mt-5 mb-3">
        <a href="/booking"><button class="btn btn-lg btn-purple my-2 my-sm-0 rounded-pill mb-3">Book Now!</button></a>
    </div>
</div>

<%- include("partials/footer.ejs") %>