<%- include("partials/header.ejs") %>

<div id="cruises-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item w-100 active" id="imageCruises01">
        </div>
        <div class="carousel-item w-100" id="imageCruises02"></div>
    </div>
</div>

<div class="rounded bg-light" id="overlap-container">
    <div class="container mt-4 pt-4" id="cruises">
        <h3 class="centered col-sm-12 col-md-12 mb-5">Theodosis Cruises</h3>
        <div class="container centered mb-4">
            <div class="container centered row">
                <div class="container col-12 col-md-5">
                    <img src="https://images.unsplash.com/photo-1534423429435-66968ca17695?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
                        alt="" class="rounded-image img-fluid shadow">
                </div>
                <div class="col"></div>
                <div class="container col-12 col-md-5">
                    <h4 class="centered col-sm-12  pb-2"><%= t('bcaves') %></h4>
                    <h6 class="text-center col-sm-12 pb-2"><%= t('bcaves-subheader') %></h6>
                    <p class="text-left col-sm"><%= t('bcaves-info') %></p>
                </div>
            </div>
        </div>
        <div class="container centered mb-4">
            <div class="container centered row">
                <div class="container col-12 col-md-5">
                    <h4 class="centered col-sm-12 pb-2"><%= t('shipwreck') %></h4>
                    <h6 class="text-center col-sm-12 pb-2"><%= t('shipwreck-subheader') %></h6>
                    <p class="text-left col-sm"><%= t('shipwreck-bcaves-info') %></p>
                </div>
                <div class="col"></div>
                <div class="container col-12 col-md-5">
                    <img src="https://images.unsplash.com/photo-1548773668-75dd91b5f5bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80"
                        alt="" class="rounded-image img-fluid shadow">
                </div>
            </div>
        </div>
    </div>
    <div class="container centered mt-3">
        <a href="/booking"><button class="btn btn-lg btn-purple my-2 my-sm-0 rounded-pill">Book Now!</button></a>
    </div>
</div>

<%- include("partials/footer.ejs") %>