<%- include("partials/header.ejs") %>
<div id="main-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item w-100 active" id="image01">
        </div>
        <div class="carousel-item w-100" id="image02"></div>
    </div>
</div>

<div class="text-white" id="landing-text">
    <h1 class="text-white">Your Journey starts here</h1>
    <p>Explore the beauties of Zakynthos island while enjoying your private cruise.</p>
    <a href="/booking"><button class="btn btn-lg btn-purple my-2 my-sm-0 rounded-pill">Book Now!</button></a>
</div>

<div class="rounded bg-light" id="overlap-container">
    <div class="container pt-5 mt-4">
        <h2 class="centered col-sm-12 col-md-12 mb-5">Who are we</h2>
        <p class="container centered text-center col-10">Theodosis Cruises is a family business located at the
            harbor of
            St. Nicholas in Volimes, Zakynthos. It
            organizes cruises to the Blue Caves and the Shipwreck and private trips for those wanting to enjoy the
            beauties of Zakynthos with privacy.
        </p>
    </div>

    <div class="container mt-4">
        <div class="row centered d-flex align-items-start" id="cruises-preview">
            <!-- <h3 class="centered col-sm-12 col-md-12 mb-5">Group Cruises</h3> -->
            <div class="centered row col-sm-12 col-md-4 mb-5">
                <i class="fas fa-water fa-3x teal"></i>
                <h5 class="centered col-sm-12 mt-4 josefin"><%= t('bcaves') %></h5>
                <p class="text-center col-sm-8"><%= t('bcaves-subheader') %></p>
            </div>
            <div class="centered row col-sm-12 col-md-4 mb-5">
                <i class="fas fa-ship fa-3x teal"></i>
                <h5 class="centered col-sm-12 mt-4 josefin"><%= t('shipwreck') %></h5>
                <p class="text-center col-sm-8"><%= t('shipwreck-subheader') %></p>
            </div>
            <div class="centered row col-sm-12 col-md-4 mb-5">
                <i class="fas fa-swimmer fa-3x teal"></i>
                <h5 class="centered col-sm-12 mt-4 josefin"><%= t('shipwreck-bcaves') %></h5>
                <p class="text-center col-sm-8"><%= t('shipwreck-bcaves-subheader') %></p>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-4" id="contact">
        <h2 class="centered col-12 mb-5">Contact</h2>
        <div class="centered col-12 mb-4">
            <form action="mailto:info@theodosiscruises.com" method="post" enctype="text/plain">
                <div class="form-row">
                    <div class="col">
                        <input type="email" name="email" class="form-control" placeholder="Your Email" required>
                    </div>
                    <div class="col">
                        <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                    </div>
                    <textarea class="form-control mt-3" id="validationTextarea" placeholder="Message">
                    </textarea>
                </div>
                <div class="container centered">
                    <button type="submit" class="btn btn-lg btn-purple rounded-pill mt-4">Send!</button>
                </div>
            </form>
        </div>
        <div class="col-12 centered">
            <div class="row">
                <small class="col-12 col-md-6 text-center text-muted">Address: St. Nicholas - Volimes, Zakynthos, Greece</small>
                <small class="col-12 col-md-6 text-center text-muted">Telephones: +30 6942473757 and +30 6947329835</small>
            </div>
        </div>
    </div>

</div>


<%- include("partials/footer.ejs") %>